language: python
dist: xenial
sudo: required
python:
  - "3.7"
before_install:
  - pip install codecov
  - sudo apt-get update
install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - conda install numpy
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install -e .
before_script:
script:
  - make test
after_success:
  - codecov
